body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  outline: none;
}

.color:hover {
  background-color: aqua;
}
